body {
    font-family: Arial, sans-serif;
    background-color: pink; /* Cambiar el color de fondo a rosa */
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #f5deb3; /* Color crema para el fondo del recuadro */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

.result {
    margin-top: 20px;
    font-size: 20px;
}
